main {
    max-width: 400px;
    margin: 0 auto;
}

p {
    border-right: 2px solid black;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    margin: 0;
    padding: 20px;
}

.first {
    border-top: 2px solid black;
}

p:hover {
    background-color: coral;
    cursor: pointer;
}